.modal {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    background: white;
    border: 1px solid black;
    border-radius: 2px;
    padding: 20px;

    .closeButton {
        position: absolute;
        right: 0;
        top: 0;
        color: black;
        background: white;
        border: none;
        border-radius: 2px;
        margin: 2px;
    }

    h3 {
        text-align: center;
        margin: 0px 15px 15px 15px;
    }

    .details {
        display: flex;

        div {
           padding: 5px 10px;
           width: 100px;
        }
    }
}