.result {
    display: flex;
    flex-wrap: wrap;

    div {
        width: 100px;
        padding: 5px 10px;
    }

    div:last-child:not(.errorMsg) {
        width: 50px;
    }

    .errorMsg {
        width: auto;
        color: red;
    }
}